/*CSS Reset*/

body {
	background-image: url(https://cdn.pixabay.com/photo/2020/09/16/04/52/background-5575333_960_720.jpg);
		background-position: top;
		 background-attachment: fixed;
font-family: 'Oswald', sans-serif !important;
font-size: 2.5vh
}
.font-weight-bold {
	font-size: 2.5vh;
}
@media screen and (max-width: 600px) {
  div.font-weight-bold {
    font-size: .5vh;
  }
}

#navimg {
	background-image: url(https://media.springernature.com/m685/springer-static/image/art%3A10.1038%2Fs41477-019-0374-3/MediaObjects/41477_2019_374_Figa_HTML.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	

}
#navopq {
	background: rgba(0, 0, 0, 0.5)
}
footer {
	font-size: 3vw;
}